* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body video{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

body {
  height: 100vh;
  background: #eaf2f8;
  display: flex;
  justify-content: flex-start;
  padding-left: 80px;
  align-items: center;
  transition: opacity 0.4s ease;
}

body.fade-out{
  opacity: 0;
}

.start-card h1 {
  font-size: 72px;
  margin-bottom: 10px;
  color: #eaf2f8;
  text-align: left;
}

.start-card p {
  font-size: 36px;
  color: #F5F2EE;
  margin-bottom: 30px;
}

.start-btn {
  text-decoration: none;
  padding: 22px 45px;
  border-radius: 30px;
  background: #C9A24D;
  color: #F5F2EE;
  font-size: 26px;
  transition: 0.3s ease;
  margin-top: 20px;
}

.start-btn:hover {
  background: #555;
}

.start-card {
  animation: pop 0.6s ease;
}

@keyframes pop {
  from {
    transform: scale(0.9);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
